@import "parameters";
@import (inline) "utilities/normalize.css";
@import (inline) "utilities/boilerplate.css";

/**
 * Remise a zero du box model
 */
#reset {
	margin: 0;
	padding: 0;
	border: 0;
}

#border_test() {
	border: 1px solid red;
}

/**
 * Alignement vertical par rapport a l'element parent
 */
.vertical-align() {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

body {
	&:extend(#reset);
	background-color: @background;
}

header {
	&:extend(#reset);
	height: @header_height;
	width: 100%;
	padding: 20px;

	vertical-align: middle;
	text-align: center;

	#entete {
		&:extend(#reset);
		.vertical-align;
		float: left;

		a {
			text-decoration: none;

			#hibuk_logo {
				&:extend(#reset);
				height: 100%;
				display: inline;
			}

			#hibuk_name {
				&:extend(#reset);
				display: inline;
				height: @name_height_percentage;
				padding-left: 20px;
			}
		}

	}

	nav {
		&:extend(#reset);
		.vertical-align;
		float: right;
		margin-right: 20px; 
		ul {
			li {
				&:extend(#reset);
				display: inline;

				a {
					&:extend(#reset);
					position: relative;
					text-decoration: none;
					color: @vert_sombre;
					font-family: 'Arial Rounded MT Bold';
					font-size: @nav_font_height;
					margin-right: @space_between_nav_items;
					&:last {
						margin-right: 0;
					}
					&:hover {
						top: -@link_hover_trans;
					}
				}
			}
		}
	}

	#connexion {
		padding: 7px;
		border: 2px solid @vert_sombre;
		border-radius: 5px;
	}
}


main {
	&:extend(#reset);
	padding: 20px;
}

@font-face {
	font-family: 'Arial Rounded MT Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Arial Rounded MT Bold'), url('../fonts/arial_rounded_mt_bold.ttf');
}


